body {
    background-color: skyblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .topnav {
    overflow: hidden;
    background-color: black;
    font-family: Calibri, sans-serif;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: black;
  }
  
  .topnav a.active {
    background-color: blue;
    color: white;
  }

  .topnav a.playstation{
    background-color: black;
    color: white;
  }
  
  h1 {
    color: blue;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 50px;
  }

  h2 {
    color: black;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin-top: auto;
  }

  h4 {
    text-align: left;
    margin-top: auto;
  }

  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }

  .row {
    content: "";
    clear: both;
    display: table;
  }

  .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
  }
  
  .PSone {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    float: left;
  } 

  .Tshirt {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    float: left
  }

  .colemcgrath {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }

  .PlayStationLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
  } 

  .console-repair {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
  } 

  .About_Us {
    background-color: grey;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

  }

  .Team_Info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }






 
